# IntelliJ
*.iml
/.idea

# Composer
/composer.phar
/composer.lock
/vendor

# MacOS
.DS_Store

# Tests
/tests/Resources/backup.php
/tests/Resources/var
/tests/Resources/uploads
/var
/coverage
/coverage.xml
/phpspec.yml

# php-cs
.php_cs.cache
